FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=pega_aqui_tu_google_client_id
GOOGLE_CLIENT_SECRET=pega_aqui_tu_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:3001/api/auth/google/callback
JWT_SECRET=cambia-esto-por-una-clave-larga-local
STRIPE_SECRET_KEY=sk_test_pega_aqui
STRIPE_WEBHOOK_SECRET=whsec_pega_aqui_cuando_uses_stripe_cli
STRIPE_PREMIUM_AMOUNT=499
STRIPE_PREMIUM_CURRENCY=usd
STRIPE_SUCCESS_URL=http://localhost:3000/premium/success
STRIPE_CANCEL_URL=http://localhost:3000/premium/cancel
